[Desktop Entry]
Type=Application
Name=Hoser Video
Comment=Local desktop media player for Movies & TV Shows
Exec=sh -c '"$(dirname %k)/run-hoser-video.sh"'
Icon=hoser-video
Categories=AudioVideo;Player;
Terminal=false
